<h2>Modal Login Form</h2>

<form class="modal-content">
  <div class="container">
    <h1>Login</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" [(ngModel)]="loginInfo.email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pwd" [(ngModel)]="loginInfo.pwd" required>

    <div class="clearfix">
      <button type="button" class="signupbtn" (click)="onLogin()">Login</button>
    </div>
  </div>
</form>